flask==3.1.1
Flask-CORS==4.0.0
gunicorn==21.2.0
boto3==1.37.3
python-multipart==0.0.6
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
statsd==4.0.1
flask-sock==0.7.0
simple-websocket==1.0.0
gevent==24.2.1
redis[hiredis]==5.0.1
